[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LATERmodel"]
	path = LATERmodel
	url = https://github.com/unimelbmdap/latermodel
